
<header class="container-fluid">
  <div class="container-lg text-center text-success py-5">
    <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s" text-color= "white-text">
      Build your carrer path with our Bootcamp
    </h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque libero quos neque cupiditate dignissimos, ipsam, sint, deleniti deserunt iste totam possimus iusto laudantium excepturi aliquid cum ab. Nulla, et alias. </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea dolores officiis laborum rem minima ducimus id eligendi, neque porro nostrum cumque repudiandae cupiditate quis eos perspiciatis, illo ullam sunt commodi.</p>


  </div>
</header>


    
                
