
 <div class="container mt-4 " > 
    <div class="row ">
      
      <nav class="p-2 navbar navbar-expand navbar-dark bg-success fixed-top scrolling-navbar">
         <!-- Brand/logo -->
        <span class="navbar-brand mx-5">
          <strong
            ><a href="#" routerLink="" class="text-decoration-none text-white">{{title}}</a></strong>
        </span>

          <!-- Display welcome message or logged-in user's full name and logout button -->
        <span *ngIf="!(isLoggedIn$ | async); else fullname"> Welcome to the Future</span>
          <ng-template #fullname>
            <span> {{ loggedInUserFullname$ | async }}</span>
              <button class="ms-2 btn btn-danger btn-sm" (click)="logout()">
                Logout
              </button>
          </ng-template>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav mx-2">
            <!-- Bootcamp menu item -->
            <li>
            <ul class="navbar-nav mx-5 ">
              <lib-dropdown
                [dropdownLabel]="'Bootcamp'"
                [items]="bootcampMenu"
              ></lib-dropdown>
             </ul>
            </li>

            <!-- About Us and Contact Us menu items -->
            <li class="nav-item mx-5">
                    <a class="nav-link" href="#aboutUs">About Us</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link" href="#ourGraduate">Our Graduates</a>
                  </li>
            <li class="nav-item mx-5">
                  <a class="nav-link" href="#contactUs">Contact Us</a>
                </li>

            <!-- User menu item (displayed when logged in) -->
            <li class="nav-item ml-auto ">
              <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav mx-5">
                <lib-dropdown
                  [dropdownLabel]="'User'"
                  [items]="usersMenu"
                ></lib-dropdown>
              </ul>
            </li>
          </ul>

          <!-- Login button (displayed when logged out) -->
          <ng-template #loggedOut>
            <a class="btn btn-light" data-mdb-ripple-color="success" routerLink="/login" href="">Login</a>
          </ng-template>
        </div>
      </nav>
    </div>
    <!-- Main content of the application -->
    <div class="row mt-5">
      <lib-alert
       *ngIf="isLoading$ | async"
       [type]="'info'"
       [text]="'Communicating with backend...'"
       [spinner]="true"
       >
    </lib-alert>

      <lib-alert 
        *ngFor="let alert of alerts index as i"
        [type]=" alert.type ?? 'info'"
        [heading]="alert.heading"
        [text]="alert.text"
        (dismiss)= "onAlertDismiss(i)"> 
      </lib-alert>

      <router-outlet></router-outlet>

      <app-footer>

      </app-footer>

    </div>  
  </div>
 




