
<div>
    <div>
        <h1>Look At Our Professors</h1>
    </div>
   
    <div>
        <form class="d-flex" role="search">
            <input class="form-control me-2 smaller-input justify-content-end"[width]='200' type="search" placeholder="Lastname" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
            <button class="btn btn-success" type="submit"(click)="onSearch()">Search</button>
          </form>
    </div>
</div>
<div *ngIf="teacherList.length">
    <table class="table  table-hover ">
        <thead >
            <th scope="col">
                Username
            </th>
            <th scope="col">
                Firstname
            </th>
            <th scope="col">
                Lastname
            </th>
            <th scope="col">
                Course
            </th>
            <th scope="col">
                Email
            </th>
            <th scope="col">
                Phone
            </th>  
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teacherList">
                <td>
                    {{teacher.username}}
                </td>
                <td>
                    {{teacher.firstname}}
                </td>
                <td>
                    {{teacher.lastname}}
                </td>
                <td>
                    {{teacher.course}}
                </td>
                <td>
                    {{teacher.email}}
                </td>

                <td>
                    <div *ngFor="let phone of teacher.phone">
                        {{phone.type}} <br>
                        {{phone.number}}

                    </div>
                </td>
                <td>
                    <a class="btn action-btn text-dark"(click)="openPopup(teacher)" >
                        <i class="material-icons text-dark" >edit</i>
                        <!-- <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon> -->
                    </a>
                    <a class = "btn action-btn text-danger" (click)="OnTeacherDelete(teacher.username)" >
                        <i class="material-icons text-danger">delete</i> 
                        <!-- <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon> -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
