
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #e6ecea;"></i>
            <span class="h1 fw-bold mb-0" style="color: white;">Bootcamp Coding</span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form  [formGroup]="form"(ngSubmit)="onSubmit()" style="width: 23rem;">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: white;">Log in</h3>
  
              <div class="form-outline mb-4">
                <input type="text" id="username" class="form-control form-control-lg" placeholder="Username" formControlName="username" />
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" placeholder="Password"formControlName="password" />
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-light" data-mdb-ripple-color="success btn-lg btn-block" type="button"[disabled]="!form.valid">Login</button>
              </div>
  
              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src=""
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-6">
        <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="mx-auto w-50 border border-primary p-5"
      >
        <p class="h4 mb-4 text-center">Login</p>
      
        <input
          type="text"
          id="username"
          class="form-control mb-4"
          placeholder="Username"
          formControlName="username"
        />
        <input
          type="password"
          id="password"
          class="form-control mb-4"
          placeholder="Password"
          formControlName="password"
        />
      
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Submit
        </button>
      </form>

      </div>
      <div class="col-lg-6">
        <img src="../images/library.jpg" alt="">
      </div>
  </div>
   